/* Write your CSS here! */

li {
    display: list-item;
    color: #80006b;
    font-size: 1.4rem;
}
ul {
    list-style-type: disc;
}
img {
    height : 90%;
    width : 90%;
}
.center-image {
    text-align: center;
  }
 .center-image-margin {
    display: block;
    margin: 0 auto;
  }
p {
    font-size: 1.4rem;
}
#mainHeading {
    color: red;
}
.funParagraph {
    color: green;
}